xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="
  http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans.xsd 
  http://www.springframework.org/schema/aop 
  http://www.springframework.org/schema/aop/spring-aop.xsd">

<!-- Add this inside <beans> -->
<aop:config>
    <aop:aspect ref="loggingAspect">
        <aop:around method="logExecutionTime" pointcut="execution(* com.library.service.*.*(..))"/>
    </aop:aspect>
</aop:config>

<bean id="loggingAspect" class="com.library.aspect.LoggingAspect"/>