<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans 
         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="bookRepository" class="com.library.repository.BookRepository"/>

    <bean id="notificationService" class="com.library.service.NotificationService"/>

    <!-- Constructor injection for NotificationService, setter for BookRepository -->
    <bean id="bookService" class="com.library.service.BookService">
        <constructor-arg ref="notificationService"/>
        <property name="bookRepository" ref="bookRepository"/>
    </bean>
</beans>